other/legcohk-vote-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="legcohk-vote">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info" maxOccurs="1" minOccurs="0" type="xs:string"></xs:element>
        <xs:element name="meeting" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vote" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="vote-date" />
                    <xs:element type="xs:string" name="vote-time" />
                    <xs:element type="xs:string" name="motion-ch" />
                    <xs:element type="xs:string" name="motion-en" />
                    <xs:element type="xs:string" name="mover-ch" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="mover-en" minOccurs="0" maxOccurs="1" />
                    <xs:element type="xs:string" name="mover-type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="vote-separate-mechanism">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Yes"></xs:enumeration>
                          <xs:enumeration value="No" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="vote-summary">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="functional-constituency" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="present-count"></xs:element>
                                <xs:element type="xs:string" name="vote-count" />
                                <xs:element type="xs:string" name="yes-count" />
                                <xs:element type="xs:string" name="no-count" />
                                <xs:element type="xs:string" name="abstain-count" />
                                <xs:element type="xs:string" name="result"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="geographical-constituency" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="present-count"></xs:element>
                                <xs:element type="xs:string" name="vote-count" />
                                <xs:element type="xs:string" name="yes-count" />
                                <xs:element type="xs:string" name="no-count" />
                                <xs:element type="xs:string" name="abstain-count" />
                                <xs:element type="xs:string" name="result"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="overall">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="present-count">
                                  <xs:simpleType>
                                    <xs:union>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="0" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:integer"></xs:restriction>
                                      </xs:simpleType>
                                    </xs:union>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vote-count">
                                  <xs:simpleType>
                                    <xs:union>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="0" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:integer"></xs:restriction>
                                      </xs:simpleType>
                                    </xs:union>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="yes-count">
                                  <xs:simpleType>
                                    <xs:union>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="0" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:integer"></xs:restriction>
                                      </xs:simpleType>
                                    </xs:union>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="no-count">
                                  <xs:simpleType>
                                    <xs:union>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="0" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:integer"></xs:restriction>
                                      </xs:simpleType>
                                    </xs:union>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="abstain-count">
                                  <xs:simpleType>
                                    <xs:union>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="0" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:integer"></xs:restriction>
                                      </xs:simpleType>
                                    </xs:union>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element type="xs:string" name="result"></xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="individual-votes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="vote">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="Yes"></xs:enumeration>
                                      <xs:enumeration value="No"></xs:enumeration>
                                      <xs:enumeration value="Abstain"></xs:enumeration>
                                      <xs:enumeration value="Present"></xs:enumeration>
                                      <xs:enumeration value="Absent"></xs:enumeration>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name-ch" use="required" />
                              <xs:attribute type="xs:string" name="name-en" use="required" />
                              <xs:attribute name="constituency" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="Functional"></xs:enumeration>
                                    <xs:enumeration value="Geographical"></xs:enumeration>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:integer" name="number" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="start-date" use="required"></xs:attribute>
            <xs:attribute type="xs:string" name="type" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>